{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.shuttleai.app"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/models": {
      "get": {
        "description": "Returns all models from ShuttleAI",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Model"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/models/{id}": {
      "get": {
        "description": "Returns a single model from ShuttleAI",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "description": "Returns a `chat.completion` object with the generated response.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "description": "The id of the model to use for the generation",
                    "type": "string"
                  },
                  "messages": {
                    "type": "array",
                    "description": "The list of messages to generate a response for. The last message is the prompt.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "role": {
                          "type": "string"
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "max_tokens": {
                    "type": "integer",
                    "description": "The maximum number of tokens to generate"
                  },
                  "temperature": {
                    "type": "number",
                    "description": "The temperature of the sampling distribution"
                  },
                  "top_p": {
                    "type": "number",
                    "description": "The cumulative probability of the top tokens to keep in the nucleus of the distribution"
                  },
                  "tools": {
                    "type": "array",
                    "description": "The list of tools to use for the generation",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "function": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "parameters": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  },
                  "tool_choice": {
                    "oneOf": [
                      {
                        "type": "string",
                        "description": "Defaults to `auto` for automatic tool choice"
                      },
                      {
                        "type": "object",
                        "description": "The tool choice object",
                        "properties": {
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    ]
                  },
                  "internet": {
                    "type": "boolean",
                    "description": "Whether to use the internet for the generation > Model limitations apply"
                  },
                  "citations": {
                    "type": "boolean",
                    "description": "Whether to include citations in the generation > For use in `owned_by: bing/openai` models only!"
                  },
                  "tone": {
                    "type": "string",
                    "description": "The tone of the generation > For use in `owned_by: bing/openai` models only!"
                  },
                  "raw": {
                    "type": "boolean",
                    "description": "Whether to return the raw response > For use in `owned_by: bing/openai` models only! Returns Bing AI Suggestions and Search Results!"
                  },
                  "image": {
                    "oneOf": [
                      {
                        "type": "string",
                        "description": "The url of the image to use for the generation > Model limitations apply"
                      },
                      {
                        "type": "boolean",
                        "description": "Automatically get image url from last message in messages provided if `true`"
                      }
                    ]
                  }
                },
                "required": [
                  "model",
                  "messages"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer"
                          },
                          "logprobs": {
                            "type": "object"
                          },
                          "finish_reason": {
                            "type": "string"
                          },
                          "message": {
                            "type": "object",
                            "properties": {
                              "content": {
                                "type": "string"
                              },
                              "role": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/images/generations": {
      "post": {
        "description": "Returns a `image.generation` object with the generated image.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created": {
                      "type": "number"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/audio/generations": {
      "post": {
        "description": "Returns an `audio.generation` object with the generated audio.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "prompt": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created": {
                      "type": "number"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/audio/transcriptions": {
      "post": {
        "description": "Returns an `audio.transcription` object with the generated transcription.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "audio_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transcription": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/moderations": {
      "post": {
        "description": "Returns a `moderation` object with the analysis result.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "moderation_result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/embeddings": {
      "post": {
        "description": "Returns an `embedding` object with the embeddings.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Model response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "embeddings": {
                      "type": "array",
                      "items": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/joke": {
      "get": {
        "description": "Returns a random joke.",
        "responses": {
          "200": {
            "description": "Model response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "joke": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/insult": {
      "get": {
        "description": "Returns a random insult.",
        "responses": {
          "200": {
            "description": "Model response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "insult": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Model": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "object": {
            "description": "The name of the model",
            "type": "string"
          },
          "data": {
            "description": "The list of model objects.",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "object": {
                  "type": "string"
                },
                "owned_by": {
                  "type": "string"
                },
                "tokens": {
                  "type": "integer"
                },
                "cost": {
                  "type": "integer"
                },
                "premium": {
                  "type": "boolean"
                },
                "created": {
                  "type": "integer"
                }
              }
            }
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}